<% content_for :title do%>
  Help
<%end%>

<br>
<div>
  P JAYA SAI KIRAN<br>
  Institute Webops Core<br>
  Phone : <br>
  Mail : saikiranp321@gmail.com<br>
</div>
<br>
<div>
  SRIKAR P<br>
  Institute Webops Core<br>
  Phone : --<br>
  Mail : ---<br>
</div>
<br>
