<% content_for :title do%>
  Home
<% end %>

  <%= render "shared/sidebar" %>

<br>
<p>This is the home page of feedback portal.<br>
We will list all the complaints over here, along with a side menu bar for categories or whatever.</p>
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
