<%= stylesheet_link_tag "custom" %>
<p>Hii <%= @recipient_name.capitalize %>,<br><br>
You have been tagged in a post titled "<span class="h3"><%= @post_title %></span>".<br><br>
With Regards<br>
Insti Webops Team
</p>
<a href="http://students.iitm.ac.in/feedback" class="email-link">Continue to the discussion</a>
