<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>

  <body>
    <h1><%= @post.title %></h1>
    <p>
    <%= raw @post.content %>
    </p>
    <span>You can respond on the following link: <%= @url %></span>
    <br>
    <br>
    Regards,<br>
    Institute WebOps 15-16.
  </body>
  
</html>
