<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>

  <body>
    <h1>You have been tagged in a comment on the following post:</h1>
    <h1><%= @post.title %></h1>
    <p>
    <%= raw @comment.content %>
    </p>
    <span>You can respond on the following link: <%= @url %></span>
    <br>
    <br>
    Regards,<br>
    Institute WebOps 14-15.
  </body>
  
</html>
