<div class="notification_div">
  <br>
  <% @user = User.find(notification.notif_user) %>
  <% @post = Post.find(notification.post_id) %>
  <%= link_to @user.fullname, @user %> has <%= notification.action %>
  <%= render @post %>
  <br>
</div>
