<%= content_for :title do %>
  All Notifications
<% end %>

<% @notifs.each do |notification| %>
  <%= render notification %>
  <br>
<% end %>

<% if @notifs.length==0 %>
  <br>
  <p> No pending unseen notifications.</p>
<% end%>
