<% content_for :title do %>
  <%= @user.fullname.capitalize %>
<% end %>

<br>
<p>This is the home page of for each user.<br>
We will list all the complaints of a user over here.</p>
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
