<%= form_for(:follow, url: follows_path, remote: true) do |f| %>
  <div><%= hidden_field_tag :post_id, post.id %></div>
<%= f.submit "Follow", class: "follow btn btn-large btn-primary" %>
  <% end %>
