<div id="footer">
  <div class="footer-container">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Copyrights @ Institute WebOps 14-15" %></li>
        <li><a href="http://students.iitm.ac.in/executive">About Us</a></li>
        <li><%= link_to "Contact Us", static_pages_contact_path %></li>
      </ul>
    </div>
  </div>
