<span class="float_left">Angry Level: </span>
<% i = 1%>
<% 5.times do %>
  <%= link_to angers_path, url_options: { i: i, post_id: post.id} , method: 'post', remote: true do %> <span class="angry_icon"><% i = i+1 %></span>
  <% end %>
  <% end %>
