<div class="sidebar">
  <br>
  Categories:<br>
    <% for tag in Tag.all %>
    <li>
    <%= link_to "#{tag.name.capitalize} <span class='badge pull-right'>#{Tag.includes(:posts).find(tag.id).posts.where("solved=?",false).length}</span>".html_safe, tag, class:"sidebar_link" %>
    </li>
  <% end %>
  <li>
  <%= link_to "Resolved Complaints<span class='badge pull-right'>#{Post.where("solved=?",true).length}</span>".html_safe, solved_path, class:"sidebar_link sidebar_link_other" %>
  </li>
</div>
