<div class="unsigned_msg_div">
<br>
<p>Please do login to view any form of content on this site.</p>
<br>
<%= link_to "Sign In", signin_path, class:"btn btn-lg btn-success" %>

</div>
<div class="rules_div">
Rules:
<ul class="list-styled">
<li><span class="glyphicon glyphicon-ok"></span> You should login to the site for accessing the contents of this site. Use LDAP credentials</li>
<li><span class="glyphicon glyphicon-ok"></span> To tag a student in the content or comments, you should use '+' symbol appended with roll number of the student <br>
  Example: Comment "regarding mess facilities, asking +AE25B099 for a solution",  +AE25B099 will be replaced with name of the student AE25B099 which linked to his/her complaints page
 </li>
</ul>

</div>
