<%= form_for(Post.find(post_id).follows.build(user_id: current_user.id)) do |f| %>
    <div><%= f.hidden_field :user_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>
